Repository massimobonanni/SantaClausSmartworkController: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/ElfSimulator-CI.yml, Pipelines/IaC-CI.yml

Pipelines/ElfSimulator-CI.yml:
  name: ElfSimulator_$(Date:yyyyMMdd)$(Rev:.r)
  pool:
    vmImage: windows-2022
  steps:
  - task: DotNetCoreCLI@2
    name: RestoreCoreComponent
    displayName: Restore SCSC.Core references
    inputs:
      command: restore
      projects: SCSC.Core/SCSC.Core.csproj
      feedsToUse: select
  - task: DotNetCoreCLI@2
  ...

Pipelines/IaC-CI.yml:
  name: Compile Bicep files
  pool:
    vmImage: $(vmImageName)
  steps:
  - task: AzureCLI@2
    inputs:
      azureSubscription: $(azureSubscription)
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: 'mkdir $(outdir)
  
        az --version
  
        az bicep install
  
  ...

Update ElfSimulator-CI.yml for Azure Pipelines
  Pipelines/ElfSimulator-CI.yml
Due: none

Update ElfSimulator-CI.yml, tags for docker image
  Pipelines/ElfSimulator-CI.yml
Due: none

Add lazy behaviour for elf simulator
  SCSC.ElfSimulator/Configurations/fullConfig.json
  SCSC.ElfSimulator/ElfsConfiguration.cs
  SCSC.ElfSimulator/Program.cs
  SCSC.PlatformFunctions/Entities/ElfSenior.cs
  SCSC.PlatformFunctions/Orchestrators/PackageArchiverOrchestrator.cs
Due: Pipelines/ElfSimulator-CI.yml

Update IaC-CI.yml for Azure Pipelines
  Pipelines/IaC-CI.yml
Due: none

Add alert detail feature
  SCSC.AdminWeb/Controllers/AlertsController.cs
  SCSC.AdminWeb/Views/Alerts/Details.cshtml
  SCSC.AdminWeb/Views/Alerts/Index.cshtml
  SCSC.AdminWeb/wwwroot/images/Alert.png
Due: none

Set up CI for PlatformFunctions
  Pipelines/PlatformFunctions-CI.yml
Due: none

Add Key vault and secrets in Bicep
  SCSC.IaC/resources.bicep
Due: Pipelines/IaC-CI.yml

Fix tenant id in bicep file
  SCSC.IaC/resources.bicep
Due: Pipelines/IaC-CI.yml

Try fix tenant id in bicep
  SCSC.IaC/resources.bicep
Due: Pipelines/IaC-CI.yml

Update PlatformFunctions-CI.yml for Azure Pipelines
  Pipelines/PlatformFunctions-CI.yml
Due: none

Enable RBAC for KeyVault in Bicep
  SCSC.IaC/resources.bicep
Due: Pipelines/IaC-CI.yml

Fix secret references in Function App configuration
  SCSC.IaC/resources.bicep
Due: Pipelines/IaC-CI.yml

Remove endpoint suffix from storages connection strings
  SCSC.IaC/resources.bicep
Due: Pipelines/IaC-CI.yml

Fix DateTimeOffset to universal time
  SCSC.ElfSimulator/Fakers/PackageFaker.cs
  SCSC.ElfSimulator/Program.cs
Due: Pipelines/ElfSimulator-CI.yml

Add Universal Time by default on all the time use din the functions
  SCSC.PlatformFunctions/Entities/ElfSenior.cs
  SCSC.PlatformFunctions/Extensions/AlertModelExtensions.cs
  SCSC.PlatformFunctions/Orchestrators/InactivityAlertOrchestrator.cs
  SCSC.PlatformFunctions/Properties/ServiceDependencies/scscdemoapi - Zip Deploy/storage1.arm.json
  SCSC.PlatformFunctions/Properties/serviceDependencies.scscdemoapi - Zip Deploy.json
Due: none

First version of AdminWeb pipeline
  Pipelines/AdminWebSite-CI.yml
Due: none

Add properties and managed identity for admin web site
  SCSC.IaC/resources.bicep
Due: Pipelines/IaC-CI.yml

Try to retrieve function keys from bicep
  SCSC.IaC/resources.bicep
Due: Pipelines/IaC-CI.yml

Remove the ifunction to retrieve the keys from function
  SCSC.IaC/resources.bicep
Due: Pipelines/IaC-CI.yml

Update AdminWebSite-CI.yml for Azure Pipelines
  Pipelines/AdminWebSite-CI.yml
Due: none

Path conditions:
  Pipelines/ElfSimulator-CI.yml: any of: SCSC.APIClient, SCSC.Core, SCSC.ElfSimulator
  Pipelines/IaC-CI.yml: any of: SCSC.IaC
