Repository massimobonanni/SantaClausSmartworkController: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/ElfSimulator-CI.yml, Pipelines/IaC-CI.yml, Pipelines/PlatformFunctions-CI.yml

Path conditions:
  Pipelines/ElfSimulator-CI.yml: any of: SCSC.APIClient, SCSC.Core, SCSC.ElfSimulator
  Pipelines/IaC-CI.yml: any of: SCSC.IaC
  Pipelines/PlatformFunctions-CI.yml: any of: SCSC.Core, SCSC.PlatformFunctions, Tests/SCSC.PlatformFunctions.Test

Update AdminWebSite-CI.yml for Azure Pipelines
  Pipelines/AdminWebSite-CI.yml
Due: none

Create alert completed
  SCSC.AdminWeb/Controllers/AlertsController.cs
  SCSC.AdminWeb/Models/Alerts/AlertInfoViewModel.cs
  SCSC.AdminWeb/Models/Alerts/CreateViewModel.cs
  SCSC.AdminWeb/Models/Alerts/InactivityAlertInfoModel.cs
  SCSC.AdminWeb/Models/Alerts/ProductivityAlertInfoModel.cs
  SCSC.AdminWeb/Utilities/SelectList.cs
  SCSC.AdminWeb/Views/Alerts/Create.cshtml
  SCSC.AdminWeb/Views/Alerts/Details.cshtml
  SCSC.AdminWeb/Views/Alerts/Index.cshtml
  SCSC.AdminWeb/Views/Elfs/Details.cshtml
  SCSC.AdminWeb/Views/Elfs/Index.cshtml
  SCSC.Core/Extensions/IEnumerableExtensions.cs
  SCSC.PlatformFunctions/Properties/ServiceDependencies/scscdemoapi - Zip Deploy/profile.arm.json
Due: Pipelines/ElfSimulator-CI.yml, Pipelines/PlatformFunctions-CI.yml

Change behavior og Getxxxx operation in ElfSenior Add health api for availability check
  SCSC.Core/Extensions/IEnumerableExtensions.cs
  SCSC.PlatformFunctions/Entities/ElfSenior.cs
  SCSC.PlatformFunctions/Entities/Interfaces/IElfEntity.cs
  SCSC.PlatformFunctions/HealthAPI.cs
  SCSC.PlatformFunctions/Orchestrators/ProductivityAlertOrchestrator.cs
Due: Pipelines/ElfSimulator-CI.yml, Pipelines/PlatformFunctions-CI.yml

Fixes on UI and archiving packages in history
  SCSC.AdminWeb/Models/Alerts/InactivityAlertInfoModel.cs
  SCSC.AdminWeb/Models/Alerts/ProductivityAlertInfoModel.cs
  SCSC.AdminWeb/Models/Elfs/ElfInfoViewModel.cs
  SCSC.AdminWeb/Views/Alerts/Details.cshtml
  SCSC.AdminWeb/Views/Elfs/Details.cshtml
  SCSC.Core/Extensions/IEnumerableExtensions.cs
  SCSC.PlatformFunctions/Entities/ElfSenior.cs
  SCSC.PlatformFunctions/Entities/Interfaces/IElfEntity.cs
  Tests/SCSC.Core.Test/DataGenerators/PackageInfoModelDataGenerator.cs
  Tests/SCSC.Core.Test/Estensions/IEnumerableExtensionsTest.cs
Due: Pipelines/ElfSimulator-CI.yml, Pipelines/PlatformFunctions-CI.yml

Add creation time to alert creation Add activity to save notification in table
  SCSC.AdminWeb/Controllers/AlertsController.cs
  SCSC.AdminWeb/Models/Alerts/AlertInfoViewModel.cs
  SCSC.AdminWeb/Views/Alerts/Index.cshtml
  SCSC.Core/Models/AlertInfoModel.cs
  SCSC.Core/Models/CreateAlertModel.cs
  SCSC.PlatformFunctions/Activities/AlertNotificationActivity.cs
  SCSC.PlatformFunctions/AlertAPI.cs
  SCSC.PlatformFunctions/Extensions/DurableTaskExtensions.cs
  SCSC.PlatformFunctions/Orchestrators/InactivityAlertOrchestrator.cs
  SCSC.PlatformFunctions/Orchestrators/ProductivityAlertOrchestrator.cs
Due: Pipelines/ElfSimulator-CI.yml, Pipelines/PlatformFunctions-CI.yml

Fix on durable timer for alert
  SCSC.PlatformFunctions/AlertAPI.cs
  SCSC.PlatformFunctions/Orchestrators/InactivityAlertOrchestrator.cs
  SCSC.PlatformFunctions/Orchestrators/ProductivityAlertOrchestrator.cs
Due: Pipelines/PlatformFunctions-CI.yml

Add Purge history function in Management API
  SCSC.IaC/resources.bicep
  SCSC.PlatformFunctions/ManagementAPI.cs
Due: Pipelines/IaC-CI.yml, Pipelines/PlatformFunctions-CI.yml

Add constants class
  SCSC.PlatformFunctions/AlertAPI.cs
  SCSC.PlatformFunctions/GlobalConstants.cs
Due: Pipelines/PlatformFunctions-CI.yml

Add status icon to elves list
  SCSC.AdminWeb/Views/Elfs/Index.cshtml
  SCSC.AdminWeb/wwwroot/images/ElfStatus-Break.png
  SCSC.AdminWeb/wwwroot/images/ElfStatus-OutOfOffice.png
  SCSC.AdminWeb/wwwroot/images/ElfStatus-Unknow.png
  SCSC.AdminWeb/wwwroot/images/ElfStatus-Work.png
Due: none

Add status to Add status icon to elf detail
  SCSC.AdminWeb/Models/Elfs/ElfInfoViewModel.cs
  SCSC.AdminWeb/Views/Elfs/Details.cshtml
Due: none

Fix time format for packages
  SCSC.AdminWeb/Views/Elfs/Details.cshtml
Due: none

Rewrite alert orchestrators
  SCSC.PlatformFunctions/Orchestrators/InactivityAlertOrchestrator.cs
  SCSC.PlatformFunctions/Orchestrators/ProductivityAlertOrchestrator.cs
Due: Pipelines/PlatformFunctions-CI.yml

Fix log trace
  SCSC.PlatformFunctions/Orchestrators/PackageArchiverOrchestrator.cs
Due: Pipelines/PlatformFunctions-CI.yml

Implement delete alert
  SCSC.PlatformFunctions/AlertAPI.cs
Due: Pipelines/PlatformFunctions-CI.yml

Add extension methods to send SMS and Email for alert
  SCSC.PlatformFunctions/Extensions/DurableOrchestrationContextExtensions.cs
  SCSC.PlatformFunctions/Orchestrators/InactivityAlertOrchestrator.cs
  SCSC.PlatformFunctions/Orchestrators/ProductivityAlertOrchestrator.cs
Due: Pipelines/PlatformFunctions-CI.yml

Implement delete alert
  SCSC.APIClient/AlertsRestClient.cs
  SCSC.AdminWeb/Controllers/AlertsController.cs
  SCSC.AdminWeb/Views/Alerts/Details.cshtml
Due: Pipelines/ElfSimulator-CI.yml

New implementatio of productivity calculation
  SCSC.AdminWeb/Models/Elfs/ElfInfoViewModel.cs
  SCSC.AdminWeb/Views/Elfs/Details.cshtml
  SCSC.AdminWeb/Views/Elfs/Index.cshtml
  SCSC.Core/Extensions/IEnumerableExtensions.cs
  SCSC.PlatformFunctions/Activities/AlertNotificationActivity.cs
  SCSC.PlatformFunctions/Entities/ElfSenior.cs
  Tests/SCSC.Core.Test/DataGenerators/PackageInfoModelDataGenerator.cs
  Tests/SCSC.Core.Test/Estensions/IEnumerableExtensionsTest.cs
  Tests/SCSC.Core.Test/Utilities/DateTimeUtility.cs
Due: Pipelines/ElfSimulator-CI.yml, Pipelines/PlatformFunctions-CI.yml

Refactoringf elfs into elves (not api url)
  SCSC.APIClient/ElvesRestClient.cs
  SCSC.AdminWeb/Controllers/AlertsController.cs
  SCSC.AdminWeb/Controllers/ElvesController.cs
  SCSC.AdminWeb/Models/Elfs/IndexViewModel.cs
  SCSC.AdminWeb/Startup.cs
  SCSC.AdminWeb/Views/Elfs/Index.cshtml
  SCSC.AdminWeb/Views/Home/Index.cshtml
  SCSC.ElfSimulator/Configurations/fullConfig.json
  SCSC.ElfSimulator/Configurations/simpleConfig.json
  SCSC.ElfSimulator/ElvesConfiguration.cs
  SCSC.ElfSimulator/Parameters.cs
  SCSC.ElfSimulator/Program.cs
  SCSC.PlatformFunctions/ElfAPI.cs
  SCSC.PlatformFunctions/Extensions/DurableOrchestrationContextExtensions.cs
  SCSC.PlatformFunctions/Filters/GetElvesFilters.cs
  SCSC.PlatformFunctions/Orchestrators/InactivityAlertOrchestrator.cs
  SCSC.PlatformFunctions/PackageAPI.cs
Due: Pipelines/ElfSimulator-CI.yml, Pipelines/PlatformFunctions-CI.yml

Change elves management image
  SCSC.AdminWeb/SCSC.AdminWeb.csproj
  SCSC.AdminWeb/wwwroot/images/ElfManagement.png
Due: none

Change elves alert image
  SCSC.AdminWeb/wwwroot/images/ElfAlerts.png
Due: none

Change folder for elves pages
  SCSC.AdminWeb/SCSC.AdminWeb.csproj
Due: none

Change folder Elves and copyright
  SCSC.AdminWeb/Views/Elves/Details.cshtml
  SCSC.AdminWeb/Views/Elves/Index.cshtml
  SCSC.AdminWeb/Views/Shared/_Layout.cshtml
Due: none

fix image height for main page
  SCSC.AdminWeb/Views/Home/Index.cshtml
Due: none

Chenge elfs in elves in all API URL
  SCSC.APIClient/ElvesRestClient.cs
  SCSC.AdminWeb/Controllers/ElvesController.cs
  SCSC.AdminWeb/Models/Elfs/ElfInfoViewModel.cs
  SCSC.AdminWeb/Models/Elfs/IndexViewModel.cs
  SCSC.AdminWeb/Views/Elves/Details.cshtml
  SCSC.AdminWeb/Views/Elves/Index.cshtml
  SCSC.PlatformFunctions/ElfAPI.cs
Due: Pipelines/ElfSimulator-CI.yml, Pipelines/PlatformFunctions-CI.yml
